#btn-listMusic{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    color: white;
    margin-left: 7px;
    margin-bottom: 15px;
    margin-top: -15px;
}

#btn-closeMusic{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    color: white;
    margin-left: 7px;
    margin-bottom: 15px;
    margin-top: -15px;
}

#gender-music{
    margin:0 0 22rem 0;
    height: 1rem;
}

#list-box{
    display:flex;
    flex-direction:column;
    text-align: start;
    height: 400px;
    width: 300px;
    overflow-y:auto;
    list-style-type:decimal;
    padding-left: 25px;
}

.gender-option{
  margin: 0 0 0 0.20rem;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #887c7c5b;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #312c2c;
  }

li > button{
    background-color: transparent;
    color: rgb(243, 240, 240);
    text-shadow: 0 0 0.2em black, 0 0 0.2em rgb(0, 0, 0);
    border:none;
}